
/* ==== css reset start ===  */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* ==== css reset end ===  */


/* ==== general styling start ===  */

html{
    font-size:10px;
}
body {
   background-color: rgb(0, 110, 255);
}
.random_number{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    height: 100vh;
    

}
/* ==== general styling end ===  */

/* ==== typography start ===  */


.number{
    font-size:5rem;
    margin-bottom: 1rem;
    color:white;
    background-color: black;
    width:25rem;
    text-align: center;
    border-radius: 1rem;
}

.heading{
    color:#19e81f;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1rem;

}

/* ==== typography end ===  */


/* ==== button part start ===  */

.btn{
    padding:1rem 1rem; 
    color: white;
    background-color: #10b9d0;
    font-weight:bold;
    border-radius:1rem;
    transition:all 500ms; 
    display: block;
    margin: 0 auto;



}

.btn:hover{
    background-color: #cc1616;
}

/* ==== button part end ===  */


/* ==== media query start ===  */

@media screen and (max-width:48rem){
    .heading{
      
        font-size: 2rem;
        
       
    
    }

}   

/* ==== media query end ===  */
